/* Fill browser window */
#map-container {
  height: 600px;
}


#map {
  height: 80%;
}

.bar {
  cursor: pointer;
}
#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.x-axis text, .y-axis text {
  font-size: 12px; /* Tamaño de fuente más pequeño para las etiquetas de los estados */
  fill: #fff;
}
.x-axis text.title, .y-axis text.title {
  font-weight: bold;
  font-size: 18px; /* Tamaño de fuente mayor para los títulos de los ejes */
}
.x-axis path, .y-axis path {
  stroke: #fff;
}
.x-axis line, .y-axis line {
  stroke: #fff;
}

/* from Leaflet Legend documentation
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 { */
  /* margin: 0 0 5px;
  color: #777;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
} */