<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - National Parks Dashboard</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://bootswatch.com/5/solar/bootstrap.min.css", rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">LOGO</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
            <a class="nav-item nav-link" href="/map">Map</a>
            <a class="nav-item nav-link active" href="/about_us">About Us</a>
            <a class="nav-item nav-link" href="/resources">Resources and Works Cited</a>
        </div>
    </nav>
 
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>About this awesome group</h1>
                <p>Here you can add information about your team and the project.</p>
            </div>
        </div>
    </div>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>