<!DOCTYPE html>
<html lang="en">

<head>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US National Parks Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/solar/bootstrap.min.css", rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Icons -->
    <script src="static/js/leaflet.extra-markers.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="/map">Map</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources and Works Cited</a>
                    </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <h1 class="text-center">National Parks Map</h1>

        <div class="row">
            <div>
                <label for="state_filter">State</label>
                <select id="state_filter" class="form-select">
                    <option value="All" selected>All</option>
                    <option value="AK">AK</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="FL">FL</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="KY">KY</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="OH">OH</option>
                    <option value="OR">OR</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WY">WY</option>
                </select>

                <label for="cons_filter">Conservation Status</label>
                <select id="cons_filter" class="form-select">
                    <option value="All" selected>All</option>
                    <option value="Extinct">Extinct</option>
                    <option value="Endangered">Endangered</option>
                    <option value="Proposed Endangered">Proposed Endangered</option>
                    <option value="Threatened">Threatened</option>
                    <option value="Proposed Threatened">Proposed Threatened</option>
                    <option value="Species of Concern">Species of Concern</option>
                    <option value="In Recovery">In Recovery</option>
                    <option value="Under Review">Under Review</option>
                    <option value="Migratory">Migratory</option>
                    <option value="Resident">Resident</option>
                    <option value="Breeder">Breeder</option>
                </select>


        <!-- Map container -->
        <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
    
     <br/>
     <br/>

    <!-- Our JavaScript code -->
    <script type="text/javascript" src="static/js/map.js"></script>
</body>

</html>
